@using Core.News
<p class="@news.Subject subject-default">@news.GetSubjectInPtBr()</p>

<style>
    .subject-default {
        background-color: #4a4a4a54;
        color: white;
        padding: 1px 5px;
        border-radius: 20px;
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    .Politics {
        background-color: #ccccff;
        color: #000079;
    }

    .Health {
        background-color: #ccffcc;
        color: #005700
    }

    .Sports {
        background-color: rgba(255, 0, 255, 0.2);
        color: #ff00ff;
    }

    .Economy {
        background-color: #ffffcc;
        color: #ac8a05;
    }

    .Woman {
        background-color: #ccccff;
        color: #990303;
    }
    
    .Culture {
        background-color: #ffcccc;
        color: #990303;
    }
    
    .Environment {
        background-color: #ccffcc;
        color: #005700;
    }
    
    .Tourism {
        background-color: #ffcccc;
        color: #995103;
    }
    
    .Education {
        background-color: #ccffcc;
        color: #003d57;
    }
</style>


@code {
    [Parameter]
    public News news { get; set; } = null!;
}